# Virtual environment
.venv/
__pycache__/
*.pyc

# MetaTrader/MT5
*.hst
*.log
*.dat

# Jupyter / VSCode
.ipynb_checkpoints/
.vscode/

# Output files
*.png
*.txt
*.pkl
*.joblib

# OS-specific
.DS_Store
Thumbs.db
